h1{
    text-align: center;
    color: rgb(0, 132, 255);
    font-family: arial;
}

.tablec{
    width: 100%;
    border: 1px;
    border-color: gray;
    text-align: center;
    font-family: arial;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #525050;
}

table th{
    padding: 1% 0 1% 0;
    background-color: rgb(0, 132, 255);
    color: aliceblue;
}

table td{
    width: 7%;
}

table td #button{
    background-color: rgb(0, 132, 255);
    color: aliceblue;
    border-radius: 8px;
}